---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: false
body_class: publications-panels
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find the most up-to-date list on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign category_posts = site.publications | where: "category", category[0] %}
    {% if category_posts.size > 0 %}
      <section class="section-card publication-section">
        <h2>{{ category[1].title }}</h2>
        {% for post in category_posts reversed %}
          {% include archive-single.html %}
        {% endfor %}
      </section>
    {% endif %}
  {% endfor %}
{% else %}
  <section class="section-card publication-section">
    <h2>Publications</h2>
    {% for post in site.publications reversed %}
      {% include archive-single.html %}
    {% endfor %}
  </section>
{% endif %}



